:root {
  --main-color: #333;
  --primary-color: #375164;
  --secondary-color: orange;
  --light-secondary-color: rgb(255, 249, 184);
}

* {
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-color);
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  border-bottom: 1px solid #ddd;
}

.navbar a {
  margin: 0 2rem;
  font-size: 14px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.content {
  margin-top: 50px;
  margin-left: 100px;
}

.insert {
  margin: 50x 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-grup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.filter input {
  margin: 5px;
}

.pretFilter {
  display: inline-block;
  margin-right: 25px;
}

.pretFilter input {
  max-width: 50px;
}

.content > h1,
.content > h2 {
  margin-bottom: 25px;
  color: var(--primary-color);
}

.home > h1 {
  margin-left: 100px;
}

.home > p {
  font-size: 20px;
  max-width: 75vw;
  margin-bottom: 10px;
}

div.table {
  margin-top: 5px;
  padding-right: 5px;
  max-height: 55vh;
  max-width: fit-content;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

div.emptytable_error {
  display: flex;
}

div.emptytable_error > a {
  margin-left: 5px;
}

table tr {
  border: 2px solid var(--main-color);
}

table td,
table th {
  text-align: center;
  padding: 5px 25px;
}

th {
  background-color: var(--main-color);
  color: white;
  font-weight: normal;
}

th.titlu,
td.titlu,
th.nume,
td.nume,
th.prenume,
td.prenume {
  text-align: left;
}

table tr:nth-child(even) {
  background-color: white;
}

table tr:nth-child(odd) {
  background-color: var(--light-secondary-color);
}


button {
  padding: 0 5px;
  cursor: pointer;
}

form button {
  border: 2px solid var(--main-color);
  height: 30px;
  background-color: var(--main-color);
  color: rgba(255, 255, 255, 0.945);
  width: 100%;
}

form button:hover {
  background-color: transparent;
  color: var(--main-color);
}

button.action {
  border: 1px solid var(--main-color);
  background-color: transparent;
}

button.action:hover {
  background-color: var(--main-color);
  color: white;
}

button.action.delete {
  margin-right: 4px;
}

button.action.update {
  margin-left: 4px;
}
